.fab{
    text-align: center;
    justify-content: 'space-evenly';
}

@media(max-width: 959px){
    .fab{
        font-size: 2rem
    }
}
@media(min-width: 960px){
    .fab{
        font-size: 2rem
    }
}
@media(min-width: 1280px){
    .fab{
        font-size: 2rem;
    }
}